.item-list {
}

.item-list__button {
  margin-left: 2rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: var(--theme-color);
  color: var(--text-color);
}

.item-list__button:hover {
  box-shadow: 0 0 2px 0px black;
}

.item-list__button:active {
  background-color: var(--text-color);
  color: var(--theme-color);
}

.item-list__area {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
}


